<!DOCTYPE html>
<html>
   <body>
      <h3>Tasks</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "m1">m1</label>
         <input type = "nummer" name = "m1" placeholder = "m1" /><br>
         <label for = "m2">m2</label>
         <input type = "nummer" name = "m2" placeholder = "m2" /><br>
         <label for = "m3">m3</label>
         <input type = "nummer" name = "m3" placeholder = "m3" /><br>
         <label for = "x1">x1</label>
         <input type = "nummer" name = "x1" placeholder = "x1" /><br>
         <label for = "y1">y1</label>
         <input type = "nummer" name = "y1" placeholder = "y1" /><br>
         <label for = "vx1">vx1</label>
         <input type = "nummer" name = "vx1" placeholder = "vx1" /><br>
         <label for = "vy1">vy1</label>
         <input type = "nummer" name = "vy1" placeholder = "vy1" /><br>
         <label for = "x2">x2</label>
         <input type = "nummer" name = "x2" placeholder = "x2" /><br>
         <label for = "y2">y2</label>
         <input type = "nummer" name = "y2" placeholder = "y2" /><br>
         <label for = "vx2">vx2</label>
         <input type = "nummer" name = "vx2" placeholder = "vx2" /><br>
         <label for = "vy2">vy2</label>
         <input type = "nummer" name = "vy2" placeholder = "vy2" /><br>
         <label for = "x3">x3</label>
         <input type = "nummer" name = "x3" placeholder = "x3" /><br>
         <label for = "y3">y3</label>
         <input type = "nummer" name = "y3" placeholder = "y3" /><br>
         <label for = "vx3">vx3</label>
         <input type = "nummer" name = "vx3" placeholder = "vx3" /><br>
         <label for = "vy3">vy3</label>
         <input type = "nummer" name = "vy3" placeholder = "vy3" /><br>
         
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>