<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Tasks (<a href = "{{ url_for('new') }}">Add Taskname </a>)</h3>
      <style>
      table, td, th { 
      padding: 10px; 
      border: 2px solid #1c87c9;
      border-radius: 5px;
      background-color: #e5e5e5;
      text-align: center;
      }
      </style>
      
      <table>
         <thead>
            <tr>
               <th>Task_id</th>
               <th>TaskName</th>
               <th>Created</th>
               <th>status</th>
               <th>active</th>
             </tr>
         </thead>
         <tbody>
            {% for taskobj in data[1] %}
               <tr>
                  <td>{{ taskobj.id }}</td>
                  <td>{{ taskobj.taskname }}</td>
                  <td>{{ taskobj.created }}</td>
                  <td>{{ taskobj.status }}</td>
                  <td>{{ taskobj.active }}</td>
               </tr>
            {% endfor %}
              
         </tbody> 
      </table> 
      
     
    <br>
    <h3>Inputs</h3>
    
      <table>
         <thead>
            <tr>
               <th>Task_id</th>
               <th>m1</th>
               <th>m2</th>
               <th>m3</th>
               <th>x1</th>
               <th>y1</th>
               <th>vx1</th>
               <th>vy1</th>
               <th>x2</th>
               <th>y2</th>
               <th>vx2</th>
               <th>vy2</th>
               <th>x3</th>
               <th>y3</th>
               <th>vx3</th>
               <th>vy3</th>
             </tr>
         </thead>
         <tbody>
            

            
               <tr>   
                  <td>{{ data[0] }}</td>
                  {% for o in data[2] %} 
                  <td>{{ "%.4f"|format(o.value) }}</td>
                  {% endfor %}
               </tr>
            
         </tbody>
      </table>




      <h3>Results</h3>
     

      <table>
         <thead>
            <tr>
               <th>Task_id</th>
               <th>x1</th>
               <th>y1</th>
               <th>vx1</th>
               <th>vy1</th>
               <th>x2</th>
               <th>y2</th>
               <th>vx2</th>
               <th>vy2</th>
               <th>x3</th>
               <th>y3</th>
               <th>vx3</th>
               <th>vy3</th>
             </tr>
         </thead>
         <tbody>
            

            
               <tr>   
                  <td>{{ data[0] }}</td>
                  {% for o in data[3] %} 
                  <td>{{ "%.4f"|format(o.value) }}</td>
                  {% endfor %}
               </tr>
            
         </tbody>
      </table>



   </body>
</html>