<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>tasks (<a href = "{{ url_for('new') }}">Add Tasks </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>Name</th>
            </tr>
         </thead>

         <tbody>
            {% for task in tasks %}
               <tr>
                  <td>{{ task.id }}</td>
                  <td>{{ task.name }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>